{#
inputs: parentName, studentName, lessonName, wordList, sentences[], actualEmail
#}
{% block EmailTab %}
    {% from "macros.html.twig" import toast %}
    {% set listIndex = listIndex ?? 0 %}
    <div class="container-fluid bg-white" id="{{ tabId }}-container">
        <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
            {{ toast("email-toast","Awards Email", "", "Email to parent successfully sent.", true, 500) }}
            <form id="parentEmailForm" name="parentEmailForm" action="/handler/lessonEmail">
                <label>Parent Email
                    <input type="email" id="parentEmail" name="parentEmail" value="{{ parentEmail }}" size="50">
                </label>
                <input type="hidden" name="parentName" value="{{ parentName|default('Parent') }}">
                <input type="hidden" name="studentName" value="{{ page.studentName|default('your child') }}">
                <input type="hidden" name="studentCode" value="{{ studentCode }}">
                <input type="hidden" name="lessonName" value="{{ lesson.lessonName }}">
                {% for word in lesson.allWords %}
                    <input type="hidden" name="words[]" value="{{ word }}">
                {% endfor %}
                {% for sentence in lesson.fluencySentences %}
                    <input type="hidden" name="sentences[]" value="{{ sentence }}">
                {% endfor %}
                <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
                            <div id="{{ tabId }}-main" class="col-8" style="font-size: 1em;font-family:'Comic Sans MS',serif;">
                                <p class="my-2 font-weight-bold">Hi {{ parentName|default("Parent") }},</p>
                                {% set name = page.studentName|default("your child") %}
                                <p>Today {{ name }} worked on the lesson "{{ lesson.lessonName }}".</p><br>
                                <p class="font-weight-bold">The practice list is:</p>
                                <ul class="ml-3">
                                    {% for word in lesson.allWords %}
                                        <li class="mx-1">{{ word }}</li>
                                    {% endfor %}
                {#                </ul>#}
                {#                <br><br>#}
                {#                <p class="font-weight-bold">The fluency passages are:</p>#}
                {#                <ul>#}
                                    {% for sentence in lesson.fluencySentences %}
                                        <li class="mx-1 mt-2">{{ sentence }}</li>
                                    {% endfor %}
                                </ul><br>
                            </div>
                        </div>
{#                <div onclick="sendEmail()" style="border:none; height: 40px; width: 40px">#}
{#                    <img src="/images/send.png" alt="Send Email" style="width: 100%; height: 100%"#}
{#                         title="Send Email">#}
{#                </div>#}
                <input type="image" height="40" width="40" style="border:none;" src="/images/send.png"
                alt="Send Email" onclick="sendEmail()">
            </form>
        </div>
    </div>

{% endblock %}
