
{% import 'tabs/tab_macros.html.twig' as tab_macro %}

{# inputs
    tabName
    wordList
    sidebarHtml
    games
#}
{% block MasteryTab %}
  {% set listIndex = listIndex ?? 0 %}
  {% set listCount = max(wordlist|length,99) %}
  {% set listIndex = listCount // 25 %}
  {% set scales = ['mast-5', 'mast-4', 'mast-3', 'mast-3'] %}
  {% set cols = ['col-4', 'col-4', 'col-4', 'col-4'] %}
  <div class="container">

    {% set tabId = tabInfo.tabTypeId %}
    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
      <div id="{{ tabId }}-main" class="col-9">
        {{ tab_macro.tabHeader(tabInfo) }}
        <div class="row">
          <form id="masteryform" name="masteryform" method="POST" action="/actions/updateMastery.php">
            <div class="row d-flex flex-wrap">
              {% for word in wordList %}
                {% set checked = (word in alreadyMasteredWords) ? 'checked' : '' %}
                <div class="checkbox col-6 col-md-4 col-lg-3 mt-1 mast-3">
                  <input type="checkbox" name="word1[]"
                         id="wordId{{ loop.index }}"
                         value="{{ word }}" {{ checked }}/>
                  <label class="mx-2" for="wordId{{ loop.index }}">{{ word }}</label>
                </div>
              {% endfor %}
              <input type="hidden" name="wordlist" value="{{ lessonWords|join(',') }}"/>

            </div>
          </form>
        </div>
      </div>
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 ">
        {{ sidebarHtml|raw }}
      </div>
    </div>

  </div>

{% endblock MasteryTab %}
