
{# inputs
    tabName
    wordList
    sidebarHtml
    games
#}
{% block PracticeTab %}
  {% from "macros.html.twig" import tabHeader  %}
  <div class="container-fluid bg-white" id="{{ tabId }}-container">
    {% set tabId = tabInfo.tabTypeId %}
    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
      <div id="{{ tabId }}-main" class="col-9">
        {{ tabHeader(tabInfo) }}
        <table class="table table-sm table-borderless">
          <tbody>
          {% for i in range(0,20,3) %}
            <tr class="d-flex">
              {% for j in range(0,2) %}
                <td class="wordlist col-3 mx-2">{{ lesson.wordLists['practice'][i+j] }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0">
        {{ block('SideBar', 'sidebar.html.twig') }}
      </div>
    </div>
  </div>

{% endblock PracticeTab %}
