
{# input:
    tabInfo         : fields -> tabTypeId, tabDisplayAs, tabClassName, script, imageFile
    information     : information that will display when hovering over the info icon
    pronounceImage  : if present an image file name to be displayed as thumbnail
    pronounceImageThumb
    games[]         :
    timerHtml       : any timer form/buttons html
    isBdpLesson     : true if bdp-lesson
#}
{% block SideBar %}
  {% set tabId = tabInfo.tabTypeId %}
  {% set infoDim = isSmallScreen ? 30 : 50 %}
  <div class="container p-0 m-0">
    {# Refresh and Info icon display #}
    {% if information %}
      <div class="row d-flex align-items-center justify-content-center">
        <div class="info-container ">
          {# <a href="#"> #}
          {# <i class="fas fa-info-circle fa-2x text-info " aria-hidden="true"></i> #}
          {# <span class="shadow">{{ information|raw }}</span> #}
          {# </a> #}
          <a href="#" data-toggle="tooltip" data-placement="left" data-html="true" title="{{ information }}" class="img-contain">
            <img src="/images/sidebar/info.png" alt="info" height="{{ infoDim }}" width="{{ infoDim }}">
          </a>
        </div>
      </div>
    {% endif %}
    {# BDP Dice if applicable #}
    {% if (tabId == 'intro') and isBdpLesson %}
      <div class="d-flex justify-content-center " style="width: 100%;">
        <div class="px-2 scaled">
          <iframe src="/dice/rolldice-orig.php?pips=bdpq" height="160" width="200"></iframe>
        </div>
      </div>
    {% endif %}

    {# Timer if applicable #}
    {% if timerHtml %}
      <tr class="d-flex">
        <td colspan="2">
          {{ timerHtml|raw }}
        </td>
      </tr>
    {% endif %}
    {# GAMES #}
    <table id="{{ tabId }}-sidebar-contents" class="table table-sm table-borderless">
      <tbody>
      {% set h =  isSmallScreen ? 68 : 115 %}
      {% set w = isSmallScreen  ? 75 : 150 %}
      {% for game in games %}
        <tr class="d-flex justify-content-center align-items-center">
          <td colspan="2">
            {% set url = (game.gameTypeId == 'tic-tac-toe') and (h > 100) ? '/tictactoe/tictac-lg.php' : game.url  %}
            {% set class = (game.gameTypeId in ['tic-tac-toe', 'advanced-spell', 'sound-box']) ? game.gameTypeId : 'games' %}
            <a class="{{ class }}" href="{{ url }}">
              <img src="{{ game.thumbRef }}" alt="{{ game.gameTitle }}" onclick="disableScroll()"
                   title="{{ game.gameTitle }}" width="{{ w }}" height="{{ h }}">
            </a>
          </td>
        </tr>
      {% endfor %}

      {% if isBdpLesson %}
        <tr class="d-flex">
          <td colspan="2">
            {{ timerHtml|raw }}
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
    {% if (tabId == 'intro') and pronounceImage and (not isBdpLesson) %}
      <a class="intro-image" href="{{ pronounceImage }}">
        <div class="bdp-thumb">
          <img src="{{ pronounceImageThumb }}" alt="pronounce">
        </div>
      </a>
    {% endif %}
    {% if (tabId == 'intro') and isBdpLesson %}
      <a class="intro-image" href="{{ pronounceImage }}">
        <div class="bdp-thumb">
          <img src="{{ pronounceImageThumb }}" alt="b-d-p">
        </div>
      </a>
    {% endif %}

  </div>
{% endblock SideBar %}
