
{# inputs
    tabName
    spinner
    sidebarHtml
    games
    withE           : has a 4th file for an ending e
#}
{% block SpellTab %}
  {% from "macros.html.twig" import tabHeader  %}
  {% set func = withE ? 'WSpin.wordSpinnerPlusE' : 'WSpin.wordSpinner' %}
  <div class="container-fluid bg-white" id="{{ tabId }}-container">

    {# all encompassing row #}
    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
      {# main column 75% wide #}
      <div class="col-9">
        {{ tabHeader(tabInfo, lesson.chain) }}
        <div class="row d-flex flex-nowrap justify-content-between" >

          {# Prefix letters column #}
          {% if lesson.spinner.prefixList|default %}
          <div class="col">
            <div class="row d-flex justify-content-center w-100">
              <div class="h3 py-3 tac col-12 d-sm-block d-none" role="heading">First</div>
            </div>
            <div class="row" >
                {% for letter in lesson.spinner.prefixList %}
                  {% set clickFunc =  "WSpin.wordSpinner('p','" ~ letter ~ "')" %}
                  <div class="tile tile-consonant" onclick="{{ clickFunc }}">{{ letter }}</div>
                {% endfor %}
            </div>

          </div>
          {% endif %}

          {# Vowel column #}
          {% if lesson.spinner.vowel|default %}
          <div class="col" >
            <div class="row d-flex justify-content-center w-100">
              <div class="h3 py-3 tac d-sm-block d-none w-100">Vowel</div>
            </div>
            <div class="row w-100 d-flex justify-content-center">
                {% for letter in lesson.spinner.vowel %}
                  {% set clickFunc =  "WSpin.wordSpinner('v','" ~ letter ~ "')" %}
                  <div class="tile tile-vowel" onclick="{{ clickFunc }}" >{{ letter }}</div>
                {% endfor %}
            </div>
          </div>
          {% endif %}

          {# Suffix letters column #}
          {% if lesson.spinner.suffixList|default %}
          <div class="col">
            <div class="row d-flex justify-content-center w-100">
              <div class="h3 py-3 tac  d-sm-block d-none w-100">Last</div>
            </div>
            <div class="row w-100 d-flex justify-content-center">
                {% for letter in lesson.spinner.suffixList %}
                  {% set clickFunc = "WSpin.wordSpinner('s','" ~ letter ~ "')" %}
                  <div class="tile tile-consonant" onclick="{{ clickFunc }}">{{ letter }}</div>
                {% endfor %}
            </div>
          </div>
          {% endif %}

        </div>
        <div class="row d-flex align-items-center">
          <div id="spinResult" class="col col-9 wordlist bg-light mt-2 p-1" style="height: 1.75em"></div>
          <div id="spell-erase" class="col col-3  mt-2 p-1"  onclick="eraseSpellBox()">
            <i class="fa fa-eraser fa-3x text-readxyz" data-toggle="tooltip" title="Erase all letters in the box"></i>
          </div>
        </div>
      </div>

      {# sidebar column 25% #}
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0">
        {{ block('SideBar', 'sidebar.html.twig') }}
      </div>
    </div>
  </div>
{% endblock SpellTab %}
