
{# inputs
    tabName
    spinner
    sidebarHtml
    games
    withE           : has a 4th file for an ending e
#}
{% block SpellTab %}
  {% from "macros.html.twig" import tabHeader  %}
  {% set func = withE ? 'WSpin.wordSpinnerPlusE' : 'WSpin.wordSpinner' %}
  <div class="container-fluid bg-white" id="{{ tabId }}-container">

    {# all encompassing row #}
    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
      {# main column 75% wide #}
      <div class="col-9">
        {{ tabHeader(tabInfo) }}
        <div class="row d-flex flex-nowrap" >

          {# Prefix letters column #}
          {% if lesson.spinner.prefixList|default %}
          <div class="col">
            <div class="row ">
              <div class="h3 py-3 tac col-12 d-sm-block d-none" role="heading">First</div>
            </div>
            <div class="row ">
              <div class="d-flex flex-wrap align-items-center tac "
                   role="group" data-toggle="tooltip" data-placement="top"
                   title="Select a letter from each group to make a word.">
                {% for letter in lesson.spinner.prefixList %}
                  {% set clickFunc =  "WSpin.wordSpinner('p','" ~ letter ~ "')" %}
                  <button class="btn btn-outline-primary rounded m-1 p-1 tac col-2 col-lg-1" type="button"
                          onclick="{{ clickFunc }}" style="min-width:34px;font-weight:bold; font-size:1.5em">
                    {{ letter }}
                  </button>
                {% endfor %}
              </div>
            </div>

          </div>
          {% endif %}

          {# Vowel column #}
          {% if lesson.spinner.vowel|default %}
          <div class="col">
            <div class="row">
              <div class="h3 py-3 tac d-sm-block d-none">Vowel</div>
            </div>
            <div class="row">
              <div class="d-flex flex-wrap align-items-center tac" role="group">
                {% for letter in lesson.spinner.vowel %}
                  {% set clickFunc =  "WSpin.wordSpinner('v','" ~ letter ~ "')" %}
                  <button class="btn btn-outline-danger rounded m-1 p-1 tac col-12"
                          type="button" onclick="{{ clickFunc }}" style="min-width:34px;font-weight:bold; font-size:1.5em">{{ letter }}
                  </button>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}

          {# Suffix letters column #}
          {% if lesson.spinner.suffixList|default %}
          <div class="col">
            <div class="row">
              <div class="h3 py-3 tac  d-sm-block d-none">Last</div>
            </div>
            <div class="row">
              <div class="d-flex flex-wrap align-items-center tac" role="group">
                {% for letter in lesson.spinner.suffixList %}
                  {% set clickFunc = "WSpin.wordSpinner('s','" ~ letter ~ "')" %}
                  <button class="btn btn-outline-primary rounded m-1 p-1 tac col-12"
                          type="button" onclick="{{ clickFunc }}" style="min-width:34px;font-weight:bold; font-size:1.5em">{{ letter }}
                  </button>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="row">
          <div id="spinResult" class="col-md-12 wordlist bg-light mt-2 p-1" style="height: 1.75em">
          </div>
        </div>
      </div>

      {# sidebar column 25% #}
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0">
        {{ block('SideBar', 'sidebar.html.twig') }}
      </div>
    </div>
  </div>
{% endblock SpellTab %}
