
{# inputs
    tabId
    tabInfo
    lesson
#}
{% block TestTab %}
  {% from "macros.html.twig" import tabHeader  %}
  <div class="container-fluid bg-white" id="{{ tabId }}-container">

    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
      <div id="{{ tabId }}-main" class="col-8">
        {{ tabHeader(tabInfo) }}
        <table class="table table-sm table-borderless">
          <tbody>
          {% for word in lesson.wordLists['test'] %}
            <tr class="d-flex">
              <td id="TM{{ loop.index0 }}" class="wordlist col-12 mx-2">{{ word }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0">
        {{ block('SideBar', 'sidebar.html.twig') }}
      </div>
    </div>
  </div>

{% endblock TestTab %}

