{# Tap and Write Tab (Elkonin boxes #}


{# inputs
    tabName
    wordList
    sidebarHtml
    games
#}
{% block WriteTab %}
 {% set count = count ?? 3 %}
 {% set color = color ?? 'random' %}
 {% set colorSet = ['red', 'green', 'orangered', 'blue', 'goldenrod'] %}
 {% if color == 'mixed' %}
   {% set colors = colorSet %}
 {% elseif color == 'random' %}
   {% set randColor = random(colorSet) %}
   {% set colors = [randColor, randColor, randColor, randColor, randColor] %}
 {% else %}
   {% set colors = [color, color, color, color, color] %}
 {% endif %}

 {% set boxDimNum = isSmallScreen ? 70 : 210 %}
 {% set ballDimNum = isSmallScreen ? 30 : 90 %}
 {% set boxDim = "%dpx"|format(boxDimNum) %}
 {% set ballDim = "%dpx"|format(ballDimNum) %}
 {% set ballSpace = "%dpx"|format(boxDimNum + 6) %}
 {% set buttonWidth = "%dpx"|format(boxDimNum * 9/10) %}
 <style>
     .box {height: {{ boxDim }};width: {{ boxDim }};padding: 3px;}
     .box__border {border: 3px solid black;display: flex;justify-content: center;align-items: center;}
     .ball__border {border: 3px solid white;display: flex;justify-content: center;align-items: center;width: {{ boxDim }} }
 </style>
 <div class="container bg-white mx-2 pt-1" id="{{ tabId }}-container" style="max-width: 800px; width:95%">
 {#  <div id="write-tab-container" class="container" style="max-width: 600px; width:95%"> #}
   <div class="row d-flex justify-content-start p-2">
     <h1 class="my-2 col-12 tac">Sound Boxes</h1>
   </div>

   {# ROW -- BUTTONS (Start) #}
   <div class="row d-flex justify-content-center ">

     {# DROPDOWN BUTTON -- COLOR #}
     <div class="btn-group my-3 mx-1 p-0">
       <button id="color-button" type="button" class="btn-readxyz dropdown-toggle button-text"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none; width:{{ buttonWidth }}">Color
       </button>
       <div class="dropdown-menu" aria-labelledby="color-button">
         <a class="dropdown-item" href="#" onclick="setColor('red')"><i class="fas fa-circle fa-2x" style="color:red"></i></a>
         <a class="dropdown-item" href="#" onclick="setColor('green')"><i class="fas fa-circle fa-2x" style="color:green"></i> </a>
         <a class="dropdown-item" href="#" onclick="setColor('orangered')"><i class="fas fa-circle fa-2x" style="color:orangered"></i> </a>
         <a class="dropdown-item" href="#" onclick="setColor('blue')"><i class="fas fa-circle fa-2x" style="color:blue"></i> </a>
         <a class="dropdown-item" href="#" onclick="setColor('goldenrod')"><i class="fas fa-circle fa-2x" style="color:goldenrod"></i> </a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" onclick="setColor('mixed')" href="#">Multi-color</a>
       </div>
     </div>

     {# DROPDOWN BUTTON -- COUNT #}
     <div class="btn-group  my-3 mx-1 p-0 ">
       <button id="count-button" type="button" class="btn-readxyz dropdown-toggle button-text"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none; width:{{ buttonWidth }}">Count
       </button>
       <div class="dropdown-menu" aria-labelledby="count-button">
         <a class="dropdown-item" href="#" onclick="setCount(3)"><span class="h3">3</span></a>
         <a class="dropdown-item" href="#" onclick="setCount(4)"><span class="h3">4</span></a>
         <a class="dropdown-item" href="#" onclick="setCount(5)"><span class="h3">5</span></a>
       </div>
     </div>

     {# BUTTON -- RESET #}
     <div class="btn-group  my-3 mx-1 p-0 ">
       <button type="button" class="btn-readxyz px-2 button-text" onclick="reload()" style="border:none; width:{{ buttonWidth }};">Reset</button>
     </div>
   </div>
   {# ROW -- BUTTONS (End) #}

   {# ROW -- RECEPTACLE BOXES (Start) #}
   <div class="row d-flex justify-content-center flex-nowrap mb-2 ">
     {% for i in range(0,count - 1) %}
       <div id="box-{{ i }}" class="box box__border "></div>
     {% endfor %}
   </div>
   {# ROW -- RECEPTACLE BOXES (End) #}

   {# ROW -- BALLS (Start) #}
   <div class="row d-flex justify-content-center flex-nowrap">
     {% for i in range(0,count -1) %}
       <div class="ball__border">
         <div id="ball-{{ i }}" class="m-2 pt-1" onclick="moveBall({{ i }})">
           <i class="fas fa-circle  tac" style="color:{{ colors[loop.index0] }}; font-size: {{ ballDim }}"></i>
         </div>
       </div>
     {% endfor %}
   </div>
   {# ROW -- BALLS (End) #}

   {# ROW -- INSTRUCTIONS #}
   <div class="row d-flex justify-content-center">Click or touch the ball to move it into the box.</div>

   <div class="row d-flex flex-wrap py-3 pl-3">
     {% for letter in soundLetters %}
        {% set vc = (letter|first in ['a','e','i','o','u']) ? 'tile-vowel' : 'tile-consonant' %}
          <div class="size--tile-{{ letter|length }} tile  {{ vc }}" style="margin:3px !important;">{{ letter }}</div>
     {% endfor %}
   </div>
   <div id="soundbox-lesson-name" style="display: none">{{ lesson.lessonId }}</div>
 </div>

{% endblock WriteTab %}

