{# Tap and Write Tab (Elkonin boxes #}


{# inputs
    tabName
    wordList
    sidebarHtml
    games
#}
{% block WriteTab %}
 {% set count = count ?? 3 %}
 {% set color = color ?? 'random' %}
 {% set colorSet = ['red', 'green', 'orangered', 'blue', 'goldenrod'] %}
 {% if color == 'mixed' %}
   {% set colors = colorSet %}
 {% elseif color == 'random' %}
   {% set randColor = random(colorSet) %}
   {% set colors = [randColor, randColor, randColor, randColor, randColor] %}
 {% else %}
   {% set colors = [color, color, color, color, color] %}
 {% endif %}

 {% set boxDim = isSmallScreen ? '55px' : '120px' %}
 {% set ballDim = isSmallScreen ? '36px' : '90px' %}
 <style>
     .box {height: {{ boxDim }};width: {{ boxDim }};padding: 3px;}
     .box__border {border: 3px solid black;display: flex;justify-content: center;align-items: center;}
 </style>
 <div id="write-tab-container" class="container" style="max-width: 600px; width:95%">
   <div class="row d-flex justify-content-start">
     <h1 class="my-2 col tac">Sound Boxes</h1>
   </div>
   {# Botton Row start #}
   <div class="row d-flex justify-content-center">

     {# The button to select the ball color #}
     <div class="btn-group my-3 mx-1 p-0 ">
       <button id="color-button" type="button" class="btn-readxyz dropdown-toggle"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none; width:{{ boxDim }}">Color
       </button>
       <div class="dropdown-menu" aria-labelledby="color-button">
         <a class="dropdown-item" href="#" onclick="setColor('red')"><i class="fas fa-circle fa-2x" style="color:red"></i></a>
         <a class="dropdown-item" href="#" onclick="setColor('green')"><i class="fas fa-circle fa-2x" style="color:green"></i> </a>
         <a class="dropdown-item" href="#" onclick="setColor('orangered')"><i class="fas fa-circle fa-2x" style="color:orangered"></i> </a>
         <a class="dropdown-item" href="#" onclick="setColor('blue')"><i class="fas fa-circle fa-2x" style="color:blue"></i> </a>
         <a class="dropdown-item" href="#" onclick="setColor('goldenrod')"><i class="fas fa-circle fa-2x" style="color:goldenrod"></i> </a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" onclick="setColor('mixed')" href="#">Multi-color</a>
       </div>
     </div>

     {# The button to select the number of balls #}
     <div class="btn-group  my-3 mx-1 p-0 ">
       <button id="count-button" type="button" class="btn-readxyz dropdown-toggle"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none; width:{{ boxDim }}">Count
       </button>
       <div class="dropdown-menu" aria-labelledby="count-button">
         <a class="dropdown-item" href="#" onclick="setCount(3)"><span class="h3">3</span></a>
         <a class="dropdown-item" href="#" onclick="setCount(4)"><span class="h3">4</span></a>
         <a class="dropdown-item" href="#" onclick="setCount(5)"><span class="h3">5</span></a>
       </div>
     </div>

     {# The reset button #}
     <div class="btn-group  my-3 mx-1 p-0 ">
       <button type="button" class="btn-readxyz px-2" onclick="reload()" style="border:none; width:{{ boxDim }};">Reset</button>
     </div>
   </div>
   {# Botton Row start #}

   {# Receptacle Boxes Row -- Start #}
   <div class="row d-flex justify-content-center flex-nowrap mb-2 ">
     {% for i in range(0,count - 1) %}
       <div id="box-{{ i }}" class="box box__border "></div>
     {% endfor %}
   </div>
   {# Receptacle Boxes Row -- End #}

   {# Balls Row -- Start #}
   <div class="row d-flex justify-content-center flex-nowrap">
     {% for i in range(0,count -1) %}
       <div class="box">
         <div id="ball-{{ i }}" class="m-1 p-0" onclick="moveBall({{ i }})">
           <i class="fas fa-circle  tac" style="color:{{ colors[loop.index0] }}; font-size: {{ ballDim }}"></i>
         </div>
       </div>
     {% endfor %}
   </div>
   {# Balls Row -- End #}
   <div class="row d-flex justify-content-center">Click or touch the ball to move it into the box.</div>
   <div id="soundbox-lesson-name" style="display: none">{{ lessonName }}</div>
 </div>
{#  {% from "macros.html.twig" import tabHeader  %}#}
{#  {% set listIndex = listIndex ?? 0 %}#}
{#  <div class="container">#}

{#    {% set tabId = tabInfo.tabTypeId %}#}
{#    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">#}
{#      <div id="{{ tabId }}-main" class="col-9  w-75">#}
{#        {{ tabHeader(tabInfo) }}#}
{#        <table class="table table-sm table-borderless">#}
{#          <tbody>#}
{#          {% for word in wordList %}#}
{#            <tr>#}
{#              <td class="wordlist col-12 mx-2">{{ word }}</td>#}
{#            </tr>#}
{#          {% endfor %}#}
{#          </tbody>#}
{#        </table>#}
{#      </div>#}
{#      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0 float-right">#}
{#        {{ sidebarHtml|raw }}#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{% endblock WriteTab %}

