{#
For site pages that rely on the Document class to build tabs, menus and titles use this template.
Mapping of Document class properties to twig variables in the Document::render method is as follows:
   $titleBar        -> pageTitle        set with $document->setTitle(string $title)
   $navbar          -> menu             set with $document->addToNavbar() or $doucment->addLinkToNavBar()
   $tabArray        -> tabs             add a tab with $document->writeTab(title, html)
   $initialTabName  -> initialTabName   set with $document->setInitialTab(tabName)
   $errorMessage    -> errorMessage     set with $document->appendToErrorMessage(html)
   $systemMessage   -> systemMessage    set with $document->appendToSystemMessage(html)

   The HTML returned from the TwigFactory::renderBlock call is put into the variable $content.
   $args is set to ['content' => $content. The call to TwigFactory::renderTemplate is as follows:
       TwigFactory::renderTemplate('base.html.twig', $args)
#}

{# variable consumed by body block
    errorMessage:
    systemMessage:
    initialTabName: Title of the tab to be initially displayed (defaults to first tab)
    pageTitle: array of titles
    menu: array of menu items (key value pairs of title=>link)
    isSmallScreen

    For a tabbed page
    -----------------
    tabs associative array: key is tab title, value is html

    For an untabbed page you can create another block template for the body block and use that
#}

{% block body %}
  {% set dim = isSmallScreen ? '45' : '80' %}

  {# NAVBAR #}
  {# our logo, menu items, and title that span the entire width of the page #}
  <div class="container-fluid m-0 p-0">
{#    <div class="row m-0 p-0 ">#}
{#      <div class="col-12 p-0">#}
        <nav class="navbar bg-readlite m-0 px-1" style=" border-bottom: 2px solid var(--readxyz);">
          <img class="navbar-brand" style="max-height:50px" alt="ReadXYZ" src="/images/reader-no-text.png">
          {% for title, link in menu %}
            <a id="menuItem-{{ loop.index }}" class="nav-link text-black-50" href="{{ link }}">{{ title }}</a>
          {% endfor %}

          <span class="navbar-text text-secondary h5 px-2">{{ pageTitle }}</span>
        </nav>
{#      </div>#}
{#    </div>#}
  </div>
  {{ block('errors') }}
  <div class="container-fluid m-0 p-0 {{ bodyBackgroundClass }}" style="height: 4px;"></div>
  {#  TAB BAR #}
  {# create the tabs setting the initial tab as visible and active #}
  {# <div class="container p-0  id="thePage" style="max-width: 960px;"> #}
  <div class="container-fluid p-0" id="thePage" >
    <div class="row m-0 p-0 justify-content-center {{ bodyBackgroundClass }}" style="width: auto;">
      {% set tabCount =  tabs | length %}
      {% set visibleTab = (initialTabName is empty) ? (tabs|keys|first) : initialTabName %}

      {# display the tab bar #}
      {% if tabCount  > 1 %}
      {# creates the tab bar #}
      <nav>
        <div class="nav nav-tabs size--tab-icon-height bg-tab" id="nav-tab" role="tablist" >
          <a class="nav-item img-contain p-0 m-0 size--tab-icon " id="lessons-home" href="/">
            <img src="/images/tabs/home.png" alt="home" height="70%" width="70%"/>
          </a>
          {% for tabTypeId, tabInfo in tabs %}
            {% set active = (tabTypeId == visibleTab|lower) ? 'active' : '' %}
            {% set selected = (tabTypeId == visibleTab|lower) ? 'true' : 'false' %}
            {% set tabId = tabTypeId ~ '-tab' %}
            {% set body = tabTypeId ~ '-body' %}
            {{ block('navItem') }}
          {% endfor %}
        </div>
      </nav>
    </div>

    {# MULTI-TAB CONTENT #}
    <div class="row">
      <div class="tab-content w-100" id="myTabContent">
        {% for tabTitle, tabInfo in tabs %}
          {# CONTENT FOR EACH TAB #}
          {% set active = (tabTitle == visibleTab) ? 'show active' : '' %}
          {% set tabId = tabTitle|lower ~ '-tab' %}
          {% set bodyId = tabTitle|lower ~ '-body' %}
          <div id="{{ bodyId }}" class="tab-pane fade {{ active }}" role="tabpanel" aria-labelledby="{{ tabId }}">{{ tabInfo.html |raw }}</div>
        {% endfor %}
      </div>
      {% else %} {# only one tab #}
        {% for tabTitle, tabHtml in tabs %}
          {# CONTENT FOR A PAGE THAT HAS NO TABS #}
          <div class="container p-2">{{ tabHtml | raw }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div> {# end container #}
{% endblock %}

{% block navItem %}
  <a class="nav-item img-contain p-0 m-0 {{ active }} size--tab-icon " data-toggle="tab" id="{{ tabId }}" href="#{{ body }}"
     role="tab" aria-controls="{{ body }}" >
    <img src="{{ tabInfo.imageFile }}" alt="{{ tabInfo.tabDisplayAs }}" height="70%" width="70%"/>
  </a>
{% endblock %}

{% block navItemOriginal %}
  <a class="nav-item nav-link {{ active }}" data-toggle="tab" id="{{ tabId }}" href="#{{ body }}"
     role="tab" aria-controls="{{ body }}" aria-selected="{{ selected }}">{{ tabTitle }} </a>
{% endblock %}

{% block errors %}
  {# display any error messages #}
  {% if errorMessage %}
    <div class="container border border-danger p-0">
      <div class="row">
        <h2 class="bg-danger text-white">ERROR</h2>
        <p class="text-danger">{{ errorMessage | raw }}</p>
      </div>
    </div>

  {% endif %}
  {% if systemMessage %}
    <div class="container border border-dark p-0">
      <div class="row">
        <h2 class="bg-dark text-white">SYSTEM ERROR</h2>
        <p class="text-dark">{{ systemMessage | raw }}</p>
      </div>
    </div>
  {% endif %}
{% endblock %}
