{% macro tabHeader(tabInfo) %}
  <div class="row h1 text-readxyz d-flex flex-nowrap justify-content-center">
    <div>{{ tabInfo.tabDisplayAs }}</div>
  </div>
  {% if tabInfo.script %}
    <div class="row  d-flex flex-nowrap justify-content-start  m-2 p-2">

      <div class="text-readxyz h3">Script:&nbsp;</div>
      <div class="text-secondary h3">&quot;{{ tabInfo.script }}&quot;</div>
    </div>
  {% endif %}
{% endmacro %}

{% macro modalAnchorCbox(game) %}
  {% set class = (game.gameTypeId in ['tic-tac-toe', 'advanced-spell', 'sound-box']) ? game.gameTypeId : 'games' %}
  <a class="img-contain {{ class }}" href="{{ game.url }}">
    <img src="{{ game.thumbRef }}" alt="{{ game.gameTitle }}" onclick="disableScroll()"
         title="{{ game.gameTitle }}" width="{{ w }}" height="{{ h }}">
  </a>
{% endmacro %}

{# input:
    tabInfo         : fields -> tabTypeId, tabDisplayAs, tabClassName, script, imageFile
    information     : information that will display when hovering over the info icon
    pronounceImage  : if present an image file name to be displayed as thumbnail
    pronounceImageThumb
    games[]         :
    timerHtml       : any timer form/buttons html
    isBdpLesson     : true if bdp-lesson
#}
{% block SideBar %}
  {% set tabId = tabInfo.tabTypeId %}
  {% set infoDim = isSmallScreen ? 30 : 50 %}
  <div class="container p-0 m-0">
    {# Refresh and Info icon display #}
    {% if information %}
      <div class="row d-flex align-items-center justify-content-center">
        <div class="info-container ">
          {# <a href="#"> #}
          {# <i class="fas fa-info-circle fa-2x text-info " aria-hidden="true"></i> #}
          {# <span class="shadow">{{ information|raw }}</span> #}
          {# </a> #}
          <a href="#" data-toggle="tooltip" data-placement="left" data-html="true" title="{{ information }}" class="img-contain">
            <img src="/images/sidebar/info.png" alt="info" height="{{ infoDim }}" width="{{ infoDim }}">
          </a>
        </div>
      </div>
    {% endif %}
    {# BDP Dice if applicable #}
    {% if (tabId == 'intro') and isBdpLesson %}
      <div class="d-flex justify-content-center " style="width: 100%;">
        <div class="px-2 scaled">
          <iframe src="/dice/rolldice-orig.php?pips=bdpq" height="160" width="200"></iframe>
        </div>
      </div>
    {% endif %}

    {# Timer if applicable #}
    {% if timerHtml %}
      <tr class="d-flex">
        <td colspan="2">
          {{ timerHtml|raw }}
        </td>
      </tr>
    {% endif %}
    {#  GAMES #}
    <table id="{{ tabId }}-sidebar-contents" class="table table-sm table-borderless">
      <tbody>
      {% set h =  isSmallScreen ? 68 : 115 %}
      {% set w = isSmallScreen  ? 75 : 150 %}
      {% for game in games %}
        <tr class="d-flex">
          <td colspan="2">
            {% set class = (game.gameTypeId in ['tic-tac-toe', 'advanced-spell', 'sound-box']) ? game.gameTypeId : 'games' %}
            <a class="{{ class }}" href="{{ game.url }}">
              <img src="{{ game.thumbRef }}" alt="{{ game.gameTitle }}" onclick="disableScroll()"
                   title="{{ game.gameTitle }}" width="{{ w }}" height="{{ h }}">
            </a>
          </td>
        </tr>
      {% endfor %}

      {% if isBdpLesson %}
        <tr class="d-flex">
          <td colspan="2">
            {{ timerHtml|raw }}
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
    {% if (tabId == 'intro') and pronounceImage and (not isBdpLesson) %}
      <a class="intro-image" href="{{ pronounceImage }}">
        <div class="bdp-thumb">
          <img src="{{ pronounceImageThumb }}" alt="pronounce">
        </div>
      </a>
    {% endif %}
s
    {% if (tabId == 'intro') and isBdpLesson %}
      <a class="intro-image" href="{{ pronounceImage }}">
        <div class="bdp-thumb">
          <img src="{{ pronounceImageThumb }}" alt="b-d-p">
        </div>
      </a>
    {% endif %}

  </div>
{% endblock SideBar %}

{# input:
    tabInfo
    warmups
#}
{% block WarmupTab %}
  {% set tabId = tabInfo.tabTypeId %}
  {% set tabName = tabInfo.tabDisplayAs %}
  {% set dim = isSmallScreen ? 25 : 40 %}
  <div class="container" id="{{ tabId }}-container">
    {{ _self.tabHeader(tabInfo) }}
    <div class="row  d-flex flex-sm-wrap">
      <div id="{{ tabId }}-accordion">

        {% for warmup in warmups.warmupItems %}
          <div class="card">

            <div class="card-header" id="warmup-header{{ loop.index }}">
              <div class="row d-flex flex-nowrap justify-content-start">
                <div>
                  <img src="/dice/images/dice{{ loop.index }}-150x150.jpg" alt="{{ loop.index }}" height="{{ dim }}" width="{{ dim }}"/>
                </div>
                <div class="mb-0 h5">
                  <button class="btn btn-link collapsed text-readxyz tal" data-toggle="collapse" data-target="#warmup-content{{ loop.index }}"
                          aria-expanded="false" aria-controls="warmup-content{{ loop.index }}">{{ warmup.directions }}
                  </button>
                </div>
              </div>
            </div>

            <div id="warmup-content{{ loop.index }}" class="collapse" aria-labelledby="warmup-header{{ loop.index }}"
                 data-parent="#{{ tabId }}-accordion">
              <div class="card-body">
                <ul class="list-group">
                  {% for part in warmup.parts %}
                    <li class="list-group-item list-group-item-readxyz">{{ part }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
    <div class="row justify-content-center p-2 mx-auto">
      <iframe src="/dice/rolldice-orig.php" height="160" width="200" style="border: none"></iframe>
    </div>
  </div>
{% endblock WarmupTab %}

{# input:
    tabName
    stretchList
    sidebarHtml
    games
#}
{% block IntroTab %}
  {% set listIndex = listIndex ?? 0 %}
  <div class="container">
    {{ _self.tabHeader(tabInfo) }}
    {% set tabId = tabInfo.tabTypeId %}
    <div class="row  d-flex flex-nowrap  m-2 p-2">
      <div id="{{ tabId }}-main" class="flex-grow-1 ">
        <table class="table table-sm table-borderless">
          <tbody>
          {% set len = stretchList[0]|length %}
          {% set colsz = (len <= 4) ? 'col-3' : ((len < 6) ? 'col-2' : 'col-1') %}
          {% for wordSets in stretchList %}
            <tr class="d-flex">
              {% for word in wordSets|slice(0,3) %}
                <td class="wordlist col-4 mx-2 px-0">{{ word }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0 ">
        {{ sidebarHtml|raw }}
      </div>
    </div>
  </div>

{% endblock IntroTab %}

{# inputs
    tabName
    wordList
    sidebarHtml
    games
#}
{% block WriteTab %}
  {% set listIndex = listIndex ?? 0 %}
  <div class="container">
    {{ _self.tabHeader(tabInfo) }}
    {% set tabId = tabInfo.tabTypeId %}
    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
      <div id="{{ tabId }}-main" class="col-9  w-75">

        <table class="table table-sm table-borderless">
          <tbody>
          {% for word in wordList %}
            <tr>
              <td class="wordlist col-12 mx-2">{{ word }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0 float-right">
        {{ sidebarHtml|raw }}
      </div>
    </div>
  </div>
{% endblock WriteTab %}

{# inputs
    tabName
    wordList
    sidebarHtml
    games
#}
{% block PracticeTab %}
  {% set listIndex = listIndex ?? 0 %}
  <div class="container">
    {{ _self.tabHeader(tabInfo) }}
    {% set tabId = tabInfo.tabTypeId %}
    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
      <div id="{{ tabId }}-main" class="col-9">

        <table class="table table-sm table-borderless">
          <tbody>
          {% for i in range(0,20,3) %}
            <tr class="d-flex">
              {% for j in range(0,2) %}
                <td class="wordlist col-3 mx-2">{{ wordList[i+j] }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0">
        {{ sidebarHtml|raw }}
      </div>
    </div>
  </div>

{% endblock PracticeTab %}

{# inputs
    tabName
    spinner
    sidebarHtml
    games
    withE           : has a 4th file for an ending e
#}
{% block SpellTab %}
  {% set listIndex = listIndex ?? 0 %}
  {% set func = withE ? 'WSpin.wordSpinnerPlusE' : 'WSpin.wordSpinner' %}
  <div class="container">
    {{ _self.tabHeader(tabInfo) }}
    {% set tabId = tabInfo.tabTypeId %}
    {# all encompassing row #}
    <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
      {# main column 75% wide #}
      <div class="col-9">
        <div class="row d-flex flex-nowrap">
          {# Prefix letters column #}
          <div class="col-8 ">
            <div class="row ">
              <div class="h3 py-3 tac col-12 d-sm-block d-none" role="heading">First</div>
            </div>
            <div class="row ">
              <div class="d-flex flex-wrap align-items-center tac "
                   role="group" data-toggle="tooltip" data-placement="top"
                   title="Select a letter from each group to make a word.">
                {% for letter in spinner.prefixList %}
                  {% set clickFunc = func ~ "('p','" ~ letter ~ "')" %}
                  <button class="btn btn-outline-primary rounded m-1 p-1 tac col-2 col-lg-1" type="button"
                          onclick="{{ clickFunc }}">
                    {{ letter }}
                  </button>
                {% endfor %}
              </div>
            </div>

          </div>

          {# Vowel column #}
          <div class="col-2">
            <div class="row">
              <div class="h3 py-3 tal d-sm-block d-none">Vowel</div>
            </div>
            <div class="row">
              <div class="d-flex flex-wrap align-items-center tac" role="group">
                {% for letter in spinner.vowel %}
                  {% set clickFunc = func ~ "('v','" ~ letter ~ "')" %}
                  <button class="btn btn-outline-danger rounded m-1 p-1 tac col-12"
                          type="button" onclick="{{ clickFunc }}">{{ letter }}
                  </button>
                {% endfor %}
              </div>
            </div>
          </div>

          {# Suffix letters column #}
          <div class="col-2">
            <div class="row">
              <div class="h3 py-3 tar  d-sm-block d-none">Last</div>
            </div>
            <div class="row">
              <div class="d-flex flex-wrap align-items-center tac" role="group">
                {% for letter in spinner.suffixList %}
                  {% set clickFunc = func ~ "('s','" ~ letter ~ "')" %}
                  <button class="btn btn-outline-primary rounded m-1 p-1 tac col-12"
                          type="button" onclick="{{ clickFunc }}">{{ letter }}
                  </button>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="spinResult" class="col-md-12 wordlist border-secondary border mt-2 p-1" style="height: 1.75em">
          </div>
        </div>
      </div>

      {# sidebar column 25% #}
      <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0">
        {{ sidebarHtml|raw }}
      </div>
    </div>
  </div>
{% endblock SpellTab %}

    {# inputs
        tabName
        wordList
        sidebarHtml
        games
    #}
    {% block MasteryTab %}
      {% set listIndex = listIndex ?? 0 %}
      {% set listCount = max(wordlist|length,99) %}
      {% set listIndex = listCount // 25 %}
      {% set scales = ['mast-5', 'mast-4', 'mast-3', 'mast-3'] %}
      {% set cols = ['col-4', 'col-4', 'col-4', 'col-4'] %}
      <div class="container">
        {{ _self.tabHeader(tabInfo) }}
        {% set tabId = tabInfo.tabTypeId %}
        <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
          <div id="{{ tabId }}-main" class="col-9">
            <div class="row">
              <form id="masteryform" name="masteryform" method="POST" action="/actions/updateMastery.php">
                <div class="row d-flex flex-wrap">
                  {% for word in wordList %}
                    {% set checked = (word in alreadyMasteredWords) ? 'checked' : '' %}
                    <div class="checkbox col-6 col-md-4 col-lg-3 mt-1 mast-3">
                      <input type="checkbox" name="word1[]"
                             id="wordId{{ loop.index }}"
                             value="{{ word }}" {{ checked }}/>
                      <label class="mx-2" for="wordId{{ loop.index }}">{{ word }}</label>
                    </div>
                  {% endfor %}
                  <input type="hidden" name="wordlist" value="{{ lessonWords|join(',') }}"/>

                </div>
              </form>
            </div>
          </div>
          <div id="{{ tabId }}-sidebar" class="col-3 mx-1 ">
            {{ sidebarHtml|raw }}
          </div>
        </div>

      </div>

    {% endblock MasteryTab %}

    {# inputs
        tabName
        fluencySentences
        games
        sidebarHtml
    #}
    {% block FluencyTab %}
      {% set listIndex = listIndex ?? 0 %}
      <div class="container">
        {{ _self.tabHeader(tabInfo) }}
        {% set tabId = tabInfo.tabTypeId %}
        <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
          <div id="{{ tabId }}-main" class="col-8 ">
            <div class="wordlist">
              {% for sentence in fluencySentences %}
                <span>{{ sentence }}</span><br>
              {% endfor %}
            </div>
          </div>
          <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0">
            {{ sidebarHtml|raw }}
          </div>
        </div>
      </div>
    {% endblock FluencyTab %}

    {# inputs
        tabName
        wordList
        sidebarHtml
    #}
    {% block TestTab %}
      {% set listIndex = listIndex ?? 0 %}
      <div class="container">
        {{ _self.tabHeader(tabInfo) }}
        {% set tabId = tabInfo.tabTypeId %}
        <div class="row  d-flex flex-nowrap  m-2 justify-content-between">
          <div id="{{ tabId }}-main" class="col-8">
            <table class="table table-sm table-borderless">
              <tbody>
              {% for word in wordList %}
                <tr class="d-flex">
                  <td id="TM{{ loop.index0 }}" class="wordlist col-12 mx-2">{{ word }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="{{ tabId }}-sidebar" class="col-3 mx-1 px-0">
            {{ sidebarHtml|raw }}
          </div>
        </div>
      </div>

    {% endblock TestTab %}

