{% extends 'base.html.twig' %}
{#
Build a page of available lessons.
used by: ReadXYZ\Twig\LessonListTemplate

inherited inputs:
    pageTitle       : (from Page instance)
    menu            : key value pairs of title => link for navbar (from Page instance)
inputs:
    accordion[]     : $accordion[$groupCode]['groupName' => groupName, 'lessons' => [lessonId]['lessonName' => x, 'mastery' => y]
    studentName     : obtained by calling Session::getStudentName()
    mostRecentLessonCode: lessonName of lesson most recently worked on
    mostRecentLessonName:
    groupInfo       : Info based on vw_group_with_keychain view
    lessonName      : associative array: lessonName => displayAs
    isLocal         : obtained by Util::isLocal()
#}

{# inherited blocks: title, modals, navBar, tabBar, body, otherJS #}

{% block title %}ReadXYZ Lessons{% endblock title %}

{% block body %}
	{% set iconList = ['no-mastery', 'advancing', 'mastered'] %}
	{% set iconTip = ['Unmastered', 'Advancing', 'Mastered'] %}
	<style>
      a span {
          font-stretch: 100%;
          color: black;
          font: bold 20px Muli, Century Gothic, sans-serif;
      }
	</style>

	<div class="row d-flex bg-white justify-content-start mx-2 flex-wrap">

	{# DISPLAY MOST RECENT LESSON IF IT'S IN THE COOKIE #}
	{% if mostRecentLessonCode %}
		<div id="lesson-accordion" class="col-md-12 col-sm-12 col-lg-5 lesson-list--width">
		<div id="most-recent" class="card bg-readlite">
			<div class="card-header">
				<div class="row d-flex flex-nowrap just align-items-center ">
					{% set href = '/handler/lesson/' ~ mostRecentLessonCode %}
					<a href="{{ href }}" id="most-recent-lesson" class="row d-flex justify-content-between align-items-baseline flex-nowrap">
						<i class="fa fa-bolt text-warning fa-2x mx-3" aria-hidden="true"></i>
						<div class="h3 text-dark mx-4">{{ mostRecentLessonName|escape('html') }}</div>
						<div class="text-secondary h5">(most recent lesson)</div>
					</a>
				</div>
			</div>
		</div>
		</div>
	{% endif %}
	</div>
	<div class="row d-flex bg-white justify-content-start mx-2 flex-wrap">
	{# FOR EACH GROUP #}
	<div id="lesson-accordion" class="col-md-12 col-sm-12 col-lg-5 lesson-list--width">
		{% for groupCode, groupInfo in accordion %}
			{% set groupName = groupInfo.groupName %}
			{% set groupIndex = loop.index %}
			{% set groupHeader = 'header-' ~ loop.index %}
			{% set groupCollapse = 'collapse-' ~ loop.index %}
			{% set groupAnimal = keychainAnimals[groupCode].fileName %}
			<div class="card bg-white border-readxyz ">
				<div class="card-header bg-white" id="{{ groupHeader }}">
					<a class="card-link" data-toggle="collapse" data-target="#{{ groupCollapse }}"
					   aria-controls="{{ groupCollapse }}" aria-expanded="false" style="cursor: pointer">
						<div class="row d-flex flex-nowrap align-items-center ">
							<div class="col-1">
								<img src="/images/lessonlist/accordion-unexpanded.png" alt="-" class="size--list-icon"/>
							</div>
							<div class="ml-3 text-dark col-6 button-text">{{ groupName }}</div>
							<div class="col-4 accordion--image" style="background-image: url({{ groupAnimal }})">
							</div>
						</div>

					</a>
				</div>
				<div id="{{ groupCollapse }}" class="collapse" data-parent="#lesson-accordion"
				     aria-labelledby="{{ groupHeader }}">
					<div class="card-body">
						<div class="bg-white">
							<ul class="d-flex flex-column flex-nowrap pl-4" style="width:100%; ">

								{# FOR EACH LESSON IN A GROUP #}
								{% for lessonId, lessonInfo in groupInfo.lessons %}
									{% set lessonName = lessonInfo.lessonName %}
									{% set mastery = lessonInfo.mastery %}
									{% set href = '/handler/lesson/' ~ lessonId|url_encode %}
									<div class="list-group-item list-group-item-white">
										<div class="row d-flex flex-nowrap" style="height: 2em;">
											<div data-toggle="tooltip" title="{{ iconTip[mastery] }}"
											     {# depending on mastery level, use mastery--no-mastery, mastery--advancing or mastery--mastered #}
											     class="col-1 h-75 align-self-center mastery--image mastery--{{ iconList[mastery] }}"></div>
											<a role="button" href="{{ href }}" class="h4 text-dark ml-3">{{ lessonName }}</a>
										</div>
									</div>
								{% endfor %}
							</ul>
						</div>
					</div>

				</div>
			</div>
		{% endfor %}
	</div>

	</div>
{% endblock body %}


{% block otherJS %}
	<script>
		$(document).ready(function () {
			let leftBound = document.getElementById("lesson-accordion").getBoundingClientRect();
			let rightBound = document.getElementById("next-animal") .getBoundingClientRect();
			$('.card').css("min-width", (rightBound.right - leftBound.left -25).toString() + "px");
		});
	</script>
{% endblock %}
