{% extends 'base.html.twig' %}
{#
Build a page of available lessons. Each lesson is a link to the action handler with a P1 parameter
containing the lesson name. If no action is specified, then the programs default action handler is
used specifying Lessons::renderLesson to handle
used by: ReadXYZ\Twig\LessonListTemplate

inherited inputs:
    pageTitle
    menu        : key value pairs of title => link for navbar
inputs:
    accordion[] : obtained by calling Lessons::getInstance()->getAccordionList()
    displayAs[]
    studentName : obtained by calling Student::getInstance()->getStudentName()
    mostRecentLesson: lesson most recently worked on
    mostRecentTab: lesson tab most recently worked on
    isLocal     : obtained by Util::isLocal()
    action      : if specified a file in /actions, otherwise we do legacy treatment
#}

{# inherited blocks: title, modals, titleBar, navBar, tabBar, body, otherJqueryReady #}

{% block title %}ReadXYZ Lessons{% endblock title %}

{% block titleBar %}
  <div class="row bg-white  d-flex justify-content-start title-bar--height align-middle h1 px-2" id="readxyz-title">
    <div class="p-2 col-3 bg-image--title"></div>
    {% for title, link in menu %}
      <a id="menuItem-{{ loop.index }}" class="nav-link text-black-50" href="{{ link }}">{{ title }}</a>
    {% endfor %}
  </div>
{% endblock titleBar %}


{% block body %}
  {% set iconList = ['nomastery', 'advancing', 'mastered'] %}
  {% set iconTip = ['Unmastered', 'Advancing', 'Mastered'] %}
  <style>
      a span {
          font-stretch: 100%;
          color: black;
          font: bold 20px Muli, Century Gothic, sans-serif;
      }
  </style>
  <div class="row d-flex bg-readultra justify-content-center">
    <div class=" lesson-list--width bg-readultra" id="lesson-list">

      {# DISPLAY MOST RECENT LESSON IF IT'S IN THE COOKIE #}
      {% if mostRecentLesson %}
        <div id="most-recent" class="card bg-readlite">
          <div class="card-header">
            <div class="row d-flex flex-nowrap just align-items-center ">
              <i class="fa fa-bolt text-warning fa-2x mx-3" aria-hidden="true"></i>
              <div class="h3 text-dark mx-4">{{ mostRecentLesson }}</div>
              <div class="text-secondary">(most recent lesson)</div>
            </div>
          </div>
        </div>

      {% endif %}
      {# FOR EACH GROUP #}
      <div id="lesson-accordion">
        {% for groupName in accordion|keys %}
          {% set groupIndex = loop.index %}
          {% set groupHeader = 'header-' ~ loop.index %}
          {% set groupCollapse = 'collapse-' ~ loop.index %}
          {% set groupAnimal = '/images/keychain/' ~ loop.index ~ '.png' %}
          <div class="card bg-white border-readxyz">
            <div class="card-header bg-white" id="{{ groupHeader }}">
              <a class="card-link" data-toggle="collapse" data-target="#{{ groupCollapse }}"
                 aria-controls="{{ groupCollapse }}" aria-expanded="false" style="cursor: pointer">
                <div class="row d-flex flex-nowrap align-items-center mb-2">
                  <div class="col-1">
                    <img src="/images/lessonlist/accordion-unexpanded.png" alt="-" class="size--list-icon"/>
                  </div>
                  <div class="h5 ml-3 text-dark col-6">{{ displayAs[groupName] }}</div>
                  <div class="col-4 accordion--image" style="background-image: url({{ groupAnimal }})">
                    {# <img src="/images/keychain/{{ loop.index }}.png" alt="animal" class="img-scale"/> #}
                  </div>
                </div>

              </a>
            </div>
            <div id="{{ groupCollapse }}" class="collapse" data-parent="#lesson-accordion"
                 aria-labelledby="{{ groupHeader }}">
              <div class="card-body">
                <div class="bg-white">
                  <ul class="d-flex flex-column flex-nowrap pl-4" style="width:100%; ">

                    {# FOR EACH LESSON IN A GROUP #}
                    {% for lessonName, masteryLevel in accordion[groupName] %}
                      {% set href = '/lesson?P1=' ~ lessonName|url_encode %}
                      <div class="list-group-item list-group-item-white">
                        <div class="row d-flex flex-nowrap" style="height: 2em;">
                          <div data-toggle="tooltip" title="{{ iconTip[masteryLevel] }}"
                               class="col-1 h-75 align-self-center mastery--image mastery--{{ iconList[masteryLevel] }}"></div>
                          <a role="button" href="{{ href }}" class="h4 text-dark ml-3">{{ displayAs[lessonName] }}</a>
                        </div>
                      </div>
                    {% endfor %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock body %}


