{#
  @name tabHeader macro:
  Displays the tab name as a heading as well as the teacher's script instructions
  @param tabInfo: TabType class object (tabTypeId, tabDisplayAs, script, etc)
#}
{% macro tabHeader(tabInfo) %}
  <div class="row h5 my-1 text-readxyz d-flex flex-nowrap justify-content-center">
    <div>{{ tabInfo.tabDisplayAs }}</div>
  </div>
  {% if tabInfo.script %}
    <div class="row  d-flex flex-nowrap justify-content-start  m-1 p-1">

      <div class="text-readxyz ">Script:&nbsp;</div>
      <div class="text-secondary ">&quot;{{ tabInfo.script }}&quot;</div>
    </div>
  {% endif %}
{% endmacro %}


{# @name timerButton
   Display a timer button
   @param string tab     the tab the timer is on (i.e. practice, fluency or test)
   @param string name    button name: Start, Stop, Reset, Save, StartStop (the png icon base name should match this name
   @param string tooltip the tooltip to display on hover
#}
{% macro timerButton(tab, name, tooltip) %}
  {% set filename = '/images/sidebar/' ~ name ~ '.png' %}
    <div class="size--side-icon m-1 btn-img btn-img-shadow" data-toggle="tooltip" data-placement="left"
    title="{{ tooltip }}" id="{{ tab }}{{ name }}Button"
    style="background: url({{ filename }}) no-repeat; background-size: contain;">
    </div>
{% endmacro %}

{% macro timerText(tab) %}
    <div class="row d-flex align-content-center">
        <div id="{{ tab }}Time" class="wordlist mx-auto my-3">00:00</div>
    </div>
{% endmacro %}

{#
  Simple ajax call. Not a post. No data. Just a url for routing. Optionally returns data.
  https://stackoverflow.com/questions/19323010/execute-php-function-with-onclick
  event: the event to trigger on
  functionName: this is what you use as the target in your anchor href
#}
{% macro ajax(event, functionName, phpUrl) %}
	$(document).ready(function () {
    $(window).on("{{ event }}", function () {
      $.ajax({
        url: '{{ phpUrl }}',
        dataType: 'json',
        success:function(returnData) {alert(html);}

      });
    });
	});

{% endmacro %}

{#
  @name toast
  Display a Bootstrap Toast alert
  @see https://getbootstrap.com/docs/4.4/components/toasts/
  @param string header     header text
  @param string smalltext  small text to the right of the header
  @param string message    a message (can be HTML or plain text.
  @param bool   autohide   if autohide is true we must show a close button
  @param int    delay      if autohide is true we will wait this number of milliseconds to close
#}
{% macro toast(header, smalltext, message, autohide = false, delay = 500) %}
  {% if autohide == false %}
    {% set hideAttr  = 'data-autohide="false"' %}
    {% set delayAttr = (delay == 500) ? 'data-delay="' ~ delay ~ '"' : '' %}
  {% else %}
    {% set hideAttr  = '' %}
    {% set delayAttr = '' %}
  {% endif %}
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" {{ hideAttr }} {{ delayAttr }} >
    <div class="toast-header">
      <img src="images/logo-150.png" class="rounded mr-2" alt="logo">
      <strong class="mr-auto">{{ header }}</strong>
      <small class="text-muted">{{ smalltext }}</small>
      {% if autohide == true %}
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% endif %}
    </div>
    <div class="toast-body">{{ message|raw }}</div>
  </div>
{% endmacro %}

{% macro dialogButton(text, target, buttonClass="btn-primary") %}
	<button type="button" class="btn {{ buttonClass }}" data-toggle="modal" data-target="#{{ target }}">
		{{ text }}
	</button>
{% endmacro %}

{% macro dialogAnchor(target, classes, styles, imgSrc, imgAlt, imgTitle, imgClass, imgStyle) %}
	{% set styleElem = (styles is empty) ? '' : 'style="' ~ styles ~ '"' %}
	{% set classElem = (classes is empty) ? '' : 'class="' ~ classes ~ '"' %}
	{% set titleELem = (imgTitle is empty) ? '' : 'title="' ~ imgTitle ~ '"' %}
	{% set imgStyleElem = (imgStyle is empty) ? '' : 'style="' ~ imgStyle ~ '"' %}
	{% set imgClassElem = (imgClass is empty) ? '' : 'class="' ~ imgClass ~ '"' %}

	<a data-toggle="modal" data-target="#{{ target }}" {{ styleElem }} {{ classElem }} href="#">
		<img src="{{ imgSrc }}" alt="{{ imgAlt }}" {{ titleELem }} {{ imgStyleElem }} {{ imgClassElem }} >
	</a>
{% endmacro %}


{# buttonOject fields label, #}
{% macro dialog(id, title, text, clickTarget, doneFunc='doNothing') %}
	<!-- Modal -->
	<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">{{ text }}</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-readred" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-readxyz yes" data-dismiss="modal">Proceed</button>
				</div>
			</div>
		</div>
	</div>
	<script>
      $(document).ready(function () {
          $('.yes').click(function () {
              $.post("{{ clickTarget }}").done(function(data) { {{ doneFunc }}(data); });
          });
      });
	</script>
{% endmacro %}
