{% extends 'base.html.twig' %}

{# arguments:
		title
#}
{% block titleBar %}
{% endblock %}

{% block body %}
	{% set dim = smaller ? '50px' : '150px' %}
	{% set dim2 = smaller ? '60px' : '180px' %}
	<div id="zoo-header" class="row d-flex justify-content-between">
		<div  class="h1 mx-auto w-100 p-3">{{ title|raw }}</div>
	</div>
	<div class="row d-flex justify-content-start m-1">
		{% for animal in animals %}
			<figure style="height:{{ dim2 }}; width:{{ dim2 }}">
				<img src="{{ animal.fileName }}" alt="animal" title="{{ animal.friendlyName }}"
				     class="m-auto" height="{{ dim }}" width="{{ dim }}" style="object-fit: contain">
				<figcaption style="text-align: center; font-family: Muli,serif">{{ animal.friendlyName }}</figcaption>
			</figure>

		{% endfor %}
	</div>

{% endblock %}

{% block otherStyles %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock Salt">
	<style>
	#zoo-header {
		font-family: "Rock Salt", Times, serif;
		font-size: 48px;
		color: var(--readxyz);
		padding: 5px;
		margin-bottom: 5vh;
		text-align: center;
	 }
	</style>
{% endblock %}


